apiVersion: apps/v1
kind: Deployment
metadata:
  name: react-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: react-app
  template:
    metadata:
      labels:
        app: react-app
    spec:
      containers:
        - name: react-app
          image: phananh130723/react:32c8928eab866f1d607f259929a5951468e575b0
          imagePullPolicy: Always
          ports:
            - containerPort: 80
